<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Peyjabankinn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'guess' %}">Spurningar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'scores' %}">Stigatafla</a>
      </li><li class="nav-item">
        <a class="nav-link" href="{% url 'rules' %}">Reglur</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <span class="navbar-brand">{{user.username}}</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
