{% extends 'base.html' %}
{% load static %}
{% block scriptblock %}
    <link rel="stylesheet" href='{% static "css/scores.css" %}'/>
    <script src='{% static "js/userguess.js" %}'></script>
{% endblock scriptblock %}
{% block content %}
<h1 class="mt-4">{{competition.name}}</h1>
<h2 class="mt-4">Leikir</h2>
{% for game in games %}
<div class="row" data-game={{game.id}}>
    <div class="col-sm-2">{{game.gametime | date:"d.m.Y H:i"}}</div>
    <div class="col-sm-2">{{game.home_team}}({{game.home_score|default_if_none:'0'}})</div>
    <div class="col-sm-4">
        <div class="row">
            <input
                class="homescore col-sm-6"
                type="number"
                value="{{game.userguess.all.0.home_score}}"
                {% if game.group == 'G' and groupstarted %}
                disabled
                {% elif game.group == 'M' and mainstarted %}
                disabled
                {% endif %}
            >
            <input
                class="awayscore col-sm-6"
                type="number"
                value="{{game.userguess.all.0.away_score}}"
                {% if game.group == 'G' and groupstarted %}
                disabled
                {% elif game.group == 'M' and mainstarted %}
                disabled
                {% endif %}
            >
        </div>
    </div>
    <div class="col-sm-2">{{game.away_team}}({{game.away_score |default_if_none:'0'}})</div>
    <div class="col-sm-1
        {% if game.userguess.all.0.points == 5 %}
            text-danger
        {% elif game.userguess.all.0.points == 3 %}
            text-warning
        {% elif game.userguess.all.0.points == 1 %}
            text-success
        {% endif %}"
    >
    <i class="fas fa-circle"></i>
    </div>
    <div class="col-sm-1">
        <div class="alertSuccess" role="alert"><i class="fas fa-check-circle text-success"></i></div>
        <div class="alertError" role="alert"><i class="fas fa-times-circle text-danger"></i></div>
    </div>
</div>
{% endfor %}
<h2 class="mt-4">Aukaspurningar</h2>
{% for extra in extras %}
<div class="row" data-extra={{extra.id}}>
    <div class="col-sm-11">
        <div class="form-group">
            <label for='{{extra.id}}'>{{ extra.question }}</label>
            <select
                class="form-control extra"
                id='{{extra.id}}'
                {% if groupstarted %}
                disabled
                {% endif %}
            >
            <option {% if not extra.bonusguess %}selected{% endif %}>Veldu...</option>
            {% for choice in extra.bonuschoices.all %}
            <option data-choice={{choice.id}}
            {% ifequal choice.id extra.bonusguess.all.0.answer.id  %}
                selected
            {% endifequal %}>
                {{choice.choice}}
            </option>
            {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-sm-1 mt-4">
        <div class="alertSuccess" role="alert"><i class="fas fa-check-circle text-success"></i></div>
        <div class="alertError" role="alert"><i class="fas fa-times-circle text-danger"></i></div>
    </div>
</div>
{% endfor %}
{% endblock content %}
